@media only screen and (orientation: landscape) {
    
    /* =========REUSABLE CSS STARTS========== */

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 82%;
    display: flex;
}

.title{
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

button{
    padding: 1rem 3rem;
    border: none;
    outline: none;
    word-spacing: .2rem;
    cursor: pointer;
}
/* =========REUSABLE CSS ENDS========== */




/* =========Header Starts========== */

header{
    /* background-color: rgba(0, 0, 0, 0.753); */
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    transition: .4s ease-in-out;
}

nav{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

nav>ul{
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
}

.menu{
    display: none;
}

nav>ul>li{
    width: 22%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul>li>a{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    /* background-color: red; */
    text-transform: uppercase;
    font-family: 'Segoe UI';
    font-size: 1.6rem;
    text-align: center;
    border-radius: .8rem;
    transition: .4s ease-in-out;
}

nav>ul>li>a:focus,
nav>ul>li>a:hover{
    background-color:rgb(254, 169, 51);
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
}
.logo>a{
    /* background-color: yellow; */
    height: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: .1rem;
    transition: .4s ease-in-out;
}

.logo>a:focus,
.logo>a:hover{
    letter-spacing: .2rem;
    color: rgb(0, 0, 0);
}
/* =========Header Ends========== */



/* =========Banner Starts========== */

.banner{
    height: 85vh;
    background-image: url(../assets/images/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner_container{
    /* background-color: gray; */
    height: 80%;
    align-items: center;
    position: relative;
}

.banner_style{
    /* background-color: rgb(245, 17, 17); */
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    left: -40%;
    aspect-ratio: 1;
    position: absolute;
    transform: rotate(45deg);
}

.banner_content{
    /* background-color: yellow; */
    width: 60%;
    height: 64%;
    padding: 2rem rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    justify-content: center;
}

.banner_content>h1{
    font-weight: 300;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    /* background-color: red; */
}

.banner_content>p{
    font-size: 1.6rem;
    color: rgb(56, 54, 54);
}

.banner_btn{
    background-color: rgb(254, 169, 51);
    align-self: flex-start;
    /* border: .2rem solid black; */
    color: black;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    transition: .4s ease-in-out;
}

.banner_btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(.9);
}


/* =========Banner Ends========== */



/* =========Products Starts========== */

.products{
    flex-direction: column;
    padding: 1.5rem 0rem 4rem;
    gap: 1rem;
    /* background-color: rgb(33, 193, 79); */
    background-color: rgb(59, 195, 245);
}

.products_container{
    /* background-color: red; */
    min-height: 100vh;
    flex-wrap: wrap;
    column-gap: 6.66%;
    row-gap: 4rem;
}

.product{
    /* background-color: yellow; */
    max-width: 20%;
    aspect-ratio: 1 / 1.5;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    background-size: 100% 120%;
    background-position: top;
    background-repeat: no-repeat;
    transition: .4s ease-in-out;
}
.product:hover{
    transform: translateY(-1.5rem);
}

.product_content{
    background-color: rgba(218, 208, 208, 0.603);
    padding: 4rem 1rem;
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: .4s ease-in-out;
    text-align: center;
}

.hide_content{
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: .4s ease-in-out;
}

.product:hover > .product_content{
    background-color: rgba(218, 208, 208, 0.603);
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 2rem 1rem;
}
.product:hover .hide_content{
    background-color: transparent;
    height: 60%;
}

.product_price{
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.product_title{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.product_desc{
    font-size: 1.6rem;
    color: rgb(56, 54, 54);
}

.cart_btn{
    margin-top: 1rem;
    border-radius: .8rem;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    align-self: center;
    font-size: 1.3rem;
}

.cart_btn:hover{
    background-color: rgb(254, 169, 51);
}

/* =========Products Ends========== */




/* =========Gallery Starts========== */

.gallery{
    background-color: yellow;
    /* flex-direction: column; */
}

.gall_title{
    width: 9%;
    height: 90vh;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.gall_title>h1{
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.gallery_container{
    /* background-color: red; */
    width: 82%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.img_content{
    position: absolute;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .8s ease-in-out;
}
.gall1{
    width: 30%;
    background-image: url(../assets/images/gall-1.jpg);
    background-position: 67%;
}

.gall1:hover{
    width: 100%;
    background-position: center;
}

.gall1:hover ~ .gall2,
.gall1:hover ~ .gall3
{
    margin-left: 100%;
}

.gall2{
    width: 40%;
    background-image: url(../assets/images/gall-2.jpg);
    background-position: 50%;
    margin-left: 30%;
}

.gall2:hover{
    width: 100%;
    margin-left: 0%;
    background-position: center;
}

.gall2:hover ~ .gall3
{
    margin-left: 100%;
}

.gall3{
    width: 30%;
    background-image: url(../assets/images/gall-3.jpg);
    background-position: 70%;
    margin-left: 70%;
}

.gall3:hover{
    width: 100%;
    margin-left: 0%;
    background-position: center;
}

/* =========Gallery Ends========== */




/* =========Contact Starts========== */

.contact{
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    background-image: url(../assets/images/contact.jpg);
    background-size: cover;
    background-position: top;
}

.contact_container{
    padding-top: 2rem;
    padding-bottom: 4rem;
    justify-content: flex-end;
    /* background-color: red; */
}

.form_container{
    /* background-color: yellow; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form_container>input,
.form_container>textarea
{
    width: 100%;
    padding: 1rem 2rem;
    border-radius: .8rem;
    outline: none;
    border: .1rem solid black;
    background-color: transparent;
    resize: none;
}

.form_container>input::placeholder,
.form_container>textarea::placeholder{
    color: rgb(56, 54, 54);
}

.contact_btn{
    background-color: rgb(254, 169, 51);
    align-self: flex-end;
    color: black;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    transition: .4s ease-in-out;
}

.contact_btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(.9);
}

.subscribe_container{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    /* height: 40rem; */
    padding: 2rem 0rem 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.subscribe_container>h1{
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
}

.subscribe_container>p{
    text-transform: uppercase;
    word-spacing: .2rem;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}

.subscribe_container>input{
    width: 70%;
    padding: 1rem 2rem;
    background-color: transparent;
    outline: none;
    border: .2rem solid rgb(255, 255, 255);
    border-radius: .8rem;
    color: rgb(255, 255, 255);
}

.subscribe_container>input::placeholder{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.sub_btn{
    border-radius: .8rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    background-color: rgb(254, 169, 51);
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

.sub_btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(.9);
}

/* =========Contact Ends========== */


/* =========Testimonials Starts========== */
.testimonials{
    background-color: rgb(236, 230, 230);
    flex-direction: column;
    padding: 2rem rem;
    gap: 2rem;
}


.testimonial_container{
    width: 82%;
    overflow: hidden;
}

.slider{
    width: 500%;
    /*background-color: red;
    */display: flex;
    animation-name: dummy;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

@keyframes dummy {
    12.5%{
        margin-left: -100%;
    }

    25%{
        margin-left: -100%;
    }

    37.5%{
        margin-left: -200%;
    }

    50%{
        margin-left: -200%;
    }

    62.5%{
        margin-left: -300%;
    }

    75%{
        margin-left: -300%;
    }

    87.5%{
        margin-left: -400%;
    }
    100%{
        margin-left: -400%;
    }
}

.testimonial_content{
    width: 50%;
    padding: rem 3rem;
    /* height: 5rem; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.dp{
    width: 11rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp>img{
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.review{
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
}

.review>span{
    font-size: 4rem;
}

.testimonial_content>p{
    font-size: 1.8rem;
    font-weight: bold;
}
/* =========Testimonials Ends========== */



/* =========Footer Starts========== */

footer{
    background-color: rgb(17, 17, 17);
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_container{
    width: 95%;
    justify-content: space-between;
}

.footer_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_content>h3{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.footer_content>li>a,
.footer_content>p
{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.footer_content>p{
    text-transform: none;
}

.social_media>a>img{
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    background-color: white;
    border-radius: .8rem;
    transition: .4s ease-in-out;
}

.social_media>a>img:hover{
    transform: translateY(-1rem);
}

.copyright{
    width: 100%;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    margin-top: 2rem;
}

.copyright>p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    text-transform: uppercase;
}


/* =========Footer Ends========== */

} 

@media (min-width: 568px) and (orientation: landscape){

    html{
        font-size: 34%;
    }

    .products_container{
        column-gap: 5%;
    }
    .product{
        max-width: 30%;
    }
    
    .cart_btn{
        word-spacing: .1rem;
    }
}


@media (min-width: 736px) and (orientation: landscape){

    html{
        font-size: 45%;
    }

    .products_container{
        column-gap: 5%;
    }

    .product{
        max-width: 30%;
    }

    .product:hover .hide_content{
        height: 30%;
    }


    .gall_title>h1{
        font-size: 3rem;
    }

}

@media (min-width: 823px) and (orientation: landscape){

    html{
        font-size: 50%;
    }

    .products_container{
        column-gap: 5%;
    }
    .product{
        max-width: 30%;
    }

    .product:hover .hide_content{
        height: 30%;
    }

    .gall_title>h1{
        font-size: 3rem;
    }



}

@media (min-width: 1024px) and (orientation: landscape){

    html{
        font-size: 62.5%;
    }
    
    .products_container{
        column-gap: 5%;
    }
    .product{
        max-width: 30%;
    }

}

@media (min-width: 1080px) and (orientation: landscape){

    html{
        font-size: 62.5%;
    }
    
    .products_container{
        column-gap: 6.66%;
    }
    .product{
        max-width: 20%;
        height: 340px;
    }

    .product:hover .hide_content{
        height: 50%;
    }

    .gall_title>h1{
        font-size: 4rem;
    }

}



