@media (max-width:480px) {

    nav{
        width: 100%;
        flex-wrap: wrap-reverse;
    }

    nav>ul{
        height: 40px;
        overflow: hidden;
        width: 100%;
        flex-wrap: wrap;
        transition: .4s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu{
        width: 40px;
        height: 40px;
        /* background-color: yellow; */
        margin-left: auto;
        margin-right: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .line{
        width: 30px;
        height: 3px;
        background-color: black;
        box-shadow: 0 10px 0,
                    0 -10px 0;
        transition: .4s ease-in-out;
    }

    .menu:hover .line:first-child{
        transform: rotateZ(45deg) translateX(10%);
        width: 20px;
    }

    .menu:hover .line:last-child{
        transform: rotateZ(-45deg) translateX(10%);
        width: 20px;
    }


    nav>ul>li{
        width: 100%;
    }

    .logo{
        width: 90%;
        z-index: 2;
    }

    nav:hover > ul{
        background-color: rgba(255, 255, 255, 0.9);
        height: 240px;
    }

    .logo>a{
        font-weight: 500;
    }

    .banner{
        height: 90vh;
        background-image: url('../assets/images/mbanner1.jpg');
    }

    .banner_style{
        transform: translateX(50%) rotate(-70deg);
        width: 95%;
        height: 500vh;
        background-color: rgba(245, 231, 231, 0.575);
        margin-bottom: -50px;
}

    .banner_content{
        width: 100%;
        justify-content: center;
    }

    .banner_content>h1{
        font-size: 20px;
        font-weight: 400;
    }

    .banner_btn{
        align-self: center;
        font-size: 15px;
        margin-top: 30px;
    }

    .product{
        max-width: 45%;
        min-height: 28vh;
        /* background-size: 110%; */
    }

    .product_content{
        height: 70px;
        justify-content: center;
    }

    .product:hover > .product_content{
        height: 100%;
    }
    
    .product:hover .hide_content{
        height: 50%;
    }

    .product_title{
        font-size: 14px;
    }

    .product_desc{
        font-size: 12px;
    }

    .cart_btn{
        font-size: 10px;
        padding: 10px;
    }

    .gallery{
        height: 60vh;
    }

    .gall_title>h1{
        font-size: 22px;
    }

    .gallery_container{
        height: 50vh;
    }

    .contact{
        background-position-x: 30%;
    }

    .form_container{
        width: 100%;
    }

    .form_container>input,
    .form_container>textarea{
        background-color: rgba(212, 205, 205, 0.753);
    }

    .contact_btn{
        align-self: center;
        width: 100%;
        font-size: 15px;
    }

    .subscribe_container>h1{
        font-size: 20px;
    }

    .subscribe_container>p{
        font-size: 12px;
    }
    
    .subscribe_container>input{
        width: 90%;
        font-size: 12px;
    }

    .sub_btn{
        font-size: 15px;
    }

    .footer_container{
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer_content>h3{
        font-size: 14px;
    }

    .footer_content:nth-child(3),
    .footer_content:nth-child(4){
        width: 100%;
        text-align: center;
    }

    .footer_content:nth-child(3){
        margin-bottom: 10px;
    }

    .social_media>a>img{
        margin:4px
    }

    .copyright>p{
        font-size: 12px;
    }

    
    
    

    .footer_content>li>a,
    .footer_content>p{
        font-size: 12px;
    }
}
