*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
nav>ul{
    display: flex;
    justify-content: space-between;
}

header>nav>ul:first-child{
    width: 50%;   
}

ul:last-child{
    width: 20%;
}



.banner{
    width: 100%;
    /* padding: 20px 0px; */
    display: flex;
    justify-content: center;
    background: black;
    min-height: 90vh;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: yellow;
}

.container>nav{
    height: fit-content;
    padding-bottom: 10px;
    z-index: 2;
}

.container>nav>ul{
    width: 60%;
    padding: 20px 0px;
    margin-left: 4%;
    margin-right: auto;
}

.banner input{
    align-self: center;
    padding: 10px;
    width: 20%;
    border-bottom: 1px solid gray;
}

.dropdown>li>a:hover ~ .product{
    height: 57vh;
}

.product{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    overflow: hidden;
    height: 0;
    transition: .6s ease-in-out;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* padding: 0 10%; */
    cursor: pointer;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 20px 10%;
}

.phone{
    width: 160px;
    height: 35vh;
    background-color: blue;
}





