@media (max-width: 1023px) and (orientation: landscape) {
  html {
    font-size: 26%;
  }

  .navigation {
    justify-content: space-between;
  }

  .navigation__left_panel {
    width: 70%;
  }

  .navigation__logo {
    width: 85%;
    height: 7rem;
  }

  .navigation__search,
  input[type="search"]::placeholder {
    font-size: 1.8rem;
    height: 7rem;
  }

  .navigation__right_panel {
    width: 30%;
    font-size: 1.6rem;
  }

  .navigation__right_panel > li > a {
    height: 7rem;
  }

  .banner__container {
    align-self: center;
  }

  .places_slider,
  .places_slider > div,
  .places_slider img {
    height: 180px;
  }

  .bot_link::before,
  .bot_link::after {
    width: 25%;
  }
}
